.book-list{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 65px;

}

.book-list-child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2vw;
    width: 90%;
    height: auto;
    border: 0px solid;
    
}